<li class="story grid_3">
	{{#if controller.isAllStoriesMode}}
		{{#if value.productThumbImageUrl}}
			<img class="storyIcon" {{bindAttr src="value.productThumbImageUrl" alt="value.headline"}}>
		{{else}}
			<img class="storyIcon" {{bindAttr src="value.thumbImageUrl" alt="value.headline"}}>
		{{/if}}
		{{#if value.productImageUrl}}
			<div class="storyIconBigContainer">
				<img class="storyIconBig" {{bindAttr src="value.productImageUrl" alt="value.headline"}}>
			</div>
		{{else}}
			<div class="storyIconBigContainer">
				<img class="storyIconBig" {{bindAttr src="value.imageUrl" alt="value.headline"}}>
			</div>
		{{/if}}
		<h3 id="storyHeading" class="storyHeading">{{value.headline}}</h3>
		<div id="storyBody" class="storyBody itemForPaper">
			{{#if value.wsBuzz}}

				{{#if value.wsBuzz.who}}
					<p><b>Who</b>:&nbsp {{value.wsBuzz.who}} </p>
				{{/if}}

				{{#if value.wsBuzz.what}}
					<p><b>What</b>:&nbsp {{value.wsBuzz.what}}</p>
				{{/if}}
				{{#if value.wsBuzz.where}}
					<p><b>Where</b>:&nbsp {{value.wsBuzz.where}}</p>
				{{/if}}
				{{#if value.wsBuzz.when}}
					<p><b>When</b>:&nbsp {{value.wsBuzz.when}}</p>
				{{/if}}
				{{#if value.wsBuzz.how}}
					<p><b>How</b>:&nbsp {{value.wsBuzz.how}}</p>
				{{/if}}
				{{#if value.wsBuzz.why}}
					<p><b>Why</b>:&nbsp {{value.wsBuzz.why}}</p>
				{{/if}}

				<p class="oped">{{value.wsBuzz.oped}}</p>

			{{else}}

				{{#if value.who}}
					<p><b>Who</b>:&nbsp {{value.who}} </p>
				{{/if}}
				{{#if value.what}}
					<p><b>What</b>:&nbsp {{value.what}}</p>
				{{/if}}
				{{#if value.where}}
					<p><b>Where</b>:&nbsp {{value.where}}</p>
				{{/if}}
				{{#if value.when}}
					<p><b>When</b>:&nbsp {{value.when}}</p>
				{{/if}}
				{{#if value.how}}
					<p><b>How</b>:&nbsp {{value.how}}</p>
				{{/if}}
				{{#if value.why}}
					<p><b>Why</b>:&nbsp {{value.why}}</p>
				{{/if}}
					<p class="oped">{{value.oped}}</p>
			{{/if}}
		</div>
		{{#if value.originatorName}}
			<div id="storyByline" class="storyByline itemForPaper">by {{value.originatorName}}</div>
		{{/if}}
		<a href="#" class="effect-on-hover"></a>
		{{#if value.wsBuzz}}
			<input class="imageId" type="hidden" {{bindAttr value="value.wsBuzz.imageId"}}/>
			<input class="storyOriginalImage" type="hidden" {{bindAttr value="value.wsBuzz.imageUrl"}}/>
			<input class="storyThumbImage" type="hidden" {{bindAttr value="value.wsBuzz.thumbImageUrl"}}/>
			<input class="buzzId" type="hidden" {{bindAttr value="value.wsBuzz.buzzId"}}/>
		{{else}}
			<input class="imageId" type="hidden" {{bindAttr value="value.imageId"}}/>
			<input class="storyOriginalImage" type="hidden" {{bindAttr value="value.imageUrl"}}/>
			<input class="storyThumbImage" type="hidden" {{bindAttr value="value.thumbImageUrl"}}/>
			<input class="buzzId" type="hidden" {{bindAttr value="value.buzzId"}}/>
		{{/if}}

	{{else}}
		<img class="storyIcon" {{bindAttr src="value.imageThumbUrl" alt="value.headline"}}>
		<div class="storyIconBigContainer">
			<img class="storyIconBig" {{bindAttr src="value.imageOriginalUrl" alt="value.headline"}}>
		</div>
		<h3 id="storyHeading" class="storyHeading">{{value.headline}}</h3>
		<div id="storyBody" class="storyBody itemForPaper">
			{{#if value.pwho}}
				<p><b>Who</b>:&nbsp {{value.pwho}} </p>
			{{/if}}
			{{#if value.pwhat}}
				<p><b>What</b>:&nbsp {{value.pwhat}}</p>
			{{/if}}
			{{#if value.pwhere}}
				<p><b>Where</b>:&nbsp {{value.pwhere}}</p>
			{{/if}}
			{{#if value.pwhen}}
				<p><b>When</b>:&nbsp {{value.pwhen}}</p>
			{{/if}}
			{{#if value.phow}}
				<p><b>How</b>:&nbsp {{value.phow}}</p>
			{{/if}}
			{{#if value.pwhy}}
				<p><b>Why</b>:&nbsp {{value.pwhy}}</p>
			{{/if}}

			<p class="oped">{{value.oped}}</p>
		</div>
		{{#if value.author}}
			<div id="storyByline" class="storyByline itemForPaper">by {{value.author}}</div>
		{{/if}}
		<a href="#" class="effect-on-hover"></a>
		<input class="imageId" type="hidden" {{bindAttr value="value.imageId"}}/>
		<input class="storyOriginalImage" type="hidden" {{bindAttr value="value.imageOriginalUrl"}}/>
		<input class="storyThumbImage" type="hidden" {{bindAttr value="value.imageThumbUrl"}}/>
		<input class="buzzId" type="hidden" {{bindAttr value="value.wishId"}}/>
	{{/if}}
</li>