<div class="row">
	<!--describe how to create a story-->
	<!--div class="twelve columns topInstructions">
		<h3 class="instructions centered">Choose a Template, Drag your stories, and pick a Theme!</h3>
	</div-->

	<!--Utilities-->
	<div class="container_16 clearfix">		
		<div class="navBarGrid">
			<ul class="nav-bar ">
				<li class="RoundedLeft">
					<div class="open">Open</div>
					{{view Ember.Select class="allNewspapers" contentBinding="controller.allNewspapers" valueBinding="controller.selectedNewspaperId" optionLabelPath="content.headline" optionValuePath="content.id"}}
				</li>
				<li {{action templatesAction target="controller"}} class="">Templates</li>
				<li {{action themesAction target="controller"}} class="">Themes</li>
				<li {{action storiesAction target="controller"}} class="">Stories</li>
				<li {{action saveNewspaper target="controller"}} class="">Save</li>
				<li {{action publishNewspaper target="controller"}} class="RoundedRight">Publish</li>
			</ul>
		</div>
	</div>
	<div class="container_16 clearfix stories">
		<!--stories here-->
		<div class="grid_16 topSection">
			<div class="leftButtons">
				<a {{action allStories target="controller"}} class="typeButton" id="allStories">All</a>
				<a {{action mineStories target="controller"}} class="typeButton" id="mine">Mine</a>
			</div>

            <div class="searchInput">
               	<input type="text" value="" class="text-box" id="storiesSearch">
            </div>
                   
            <div class="catSelect">
				<form class="custom">
	       			<div class="left">
	      				<div class="custom dropdown" id="storyCatsDropDown">
	      					<a href="#" class="current"></a>
	      					<a href="#" class="selector"></a>
	      					<ul>
	      					</ul>
	      				</div>
	      			</div>
				 </form>	                
            </div>
		</div>

		<ul id="draggable" class="storiesContainer grid_16">
			<div id="stories">
				{{#each value in controller.allOrMineStories}}
					{{view TNE.StoryView valueBinding="value"}}
				{{/each}}
			</div>
			<div id="themes" class="themes">
				<div class="themeIconHolder grid_3">
					<img {{action applyTheme target="controller"}} class="theme" id="Helvetica" src="images/helvetica.png">
					<p>Helvetica</p>
				</div>

				<div class="themeIconHolder grid_3">
					<img {{action applyTheme target="controller"}} class="theme" id="Hipster" src="images/hipster.png">
					<p>Hipster</p>
				</div>

				<div class="themeIconHolder grid_3">
					<img {{action applyTheme target="controller"}} class="theme" id="Hard News" src="images/hard-news.png">
					<p>Hard News</p>
				</div>

				<div class="themeIconHolder grid_3">
					<img {{action applyTheme target="controller"}} class="theme" id="Sporty" src="images/striped.png">
					<p>Sporty</p>
				</div>
			</div>

			<div id="templates" class="themes">
				<div class="templateIconHolder grid_3">
					<img {{action applyTemplate target="controller"}} class="template" id="template1" src="images/template-1.png">
				</div>
				<div class="templateIconHolder grid_3">
					<img {{action applyTemplate target="controller"}} class="fadeTemplate" id="template2" src="images/template-2.png">
					<p class="fadeTemplateText">Coming Soon</p>
				</div>
				<div class="templateIconHolder grid_3">
					<img {{action applyTemplate target="controller"}} class="fadeTemplate" id="template3" src="images/template-3.png">
					<p class="fadeTemplateText">Coming Soon</p>
				</div>
			</div>

		</ul>		
	</div>
	<div class="twelve columns scroll">
			<a {{action expandContainer target="controller"}} class="centerd-btn">
				<img src="images/scroll.png" alt="scroll">
			</a>
	</div>
</div>
<!--newspaper creation section-->

<div class="row">
	<div class="twelve columns">
		<div class="nine columns centered ">
			<div id="newspaperContainer">
				<div id="newspaper" class="twelve columns stories newspaper">			
					<div class="twelve columns">
						<div class="preview" {{action previewStory target="controller"}}>
							<img src="images/preview.png" alt="preview-button">
						</div>
						<div class="ten columns middle newspaperTitle editableText">
							<h2 {{action editText target="controller"}} id="npHeadline">{{controller.defaultHeadline}}</h2>
						</div>						

					<div class="twelve columns editableText">
						<div class="volume left"><p {{action editText target="controller"}} class="editableText" id="npEdition">{{controller.defaultEdition}}</p></div>
						<div class="place right"><p {{action editText target="controller"}} class="editableText" id="npLocation">{{controller.defaultLocation}}</p></div>
					</div>
					
				</div>

					<div class="gridster">
					    <ul id="gridsterList" class="droppable container_16 clearfix">			        
				        	<div class="grid_16 firstRow">
				        		<li id="1" class="storyTile" data-row="1" data-col="1" data-sizex="5" data-sizey="4"><div class="tileImage"><img src="images/story-1.png" alt="story"></div></li>
						        <li id="2" class="storyTile" data-row="2" data-col="1" data-sizex="3" data-sizey="2"><div class="tileImage"><img src="images/story-2.png" alt="story"></div></li>
						        <li id="3" class="storyTile" data-row="3" data-col="1" data-sizex="3" data-sizey="2"><div class="tileImage"><img src="images/story-3.png" alt="story"></div></li>
				        	</div>

				        	<div class="grid_16 secondRow">
				        		<li id="4" class="storyTile" data-row="1" data-col="2" data-sizex="3" data-sizey="3"><div class="tileImage"><img src="images/story-4.png" alt="story"></div></li>
				        		<li id="5" class="storyTile" data-row="2" data-col="2" data-sizex="5" data-sizey="3"><div class="tileImage"><img src="images/story-5.png" alt="story"></div></li>
				        	</div>
				        
				        	<div class="grid_16 thirdRow">
				        		<li id="6" class="storyTile" data-row="1" data-col="4" data-sizex="2" data-sizey="3"><div class="tileImage"><img src="images/story-6.png" alt="story"></div></li>
				        		<li id="7" class="storyTile" data-row="2" data-col="4" data-sizex="6" data-sizey="3"><div class="tileImage"><img src="images/story-7.png" alt="story"></div></li>
				        	</div>
				    			    	
					        <div class="grid_16 fourthRow">
					        	<li id="8" class="storyTile" data-row="3" data-col="4" data-sizex="2" data-sizey="3"><div class="tileImage"><img src="images/story-8.png" alt="story"></div></li>
						        <li id="9" class="storyTile" data-row="1" data-col="5" data-sizex="2" data-sizey="3"><div class="tileImage"><img src="images/story-9.png" alt="story"></div></li>
						        <li id="10" class="storyTile" data-row="3" data-col="5" data-sizex="2" data-sizey="3"><div class="tileImage"><img src="images/story-9.png" alt="story"></div></li>
			        			<li id="11" class="storyTile" data-row="1" data-col="6" data-sizex="2" data-sizey="3"><div class="tileImage"><img src="images/story-9.png" alt="story"></div></li>
					        </div>
					    </ul>
					</div>
					<div class="one columns dustbin">
						<a {{action deleteNewspaper target="controller"}} class="right-btn">
						<img src="images/delete.png" alt="delete-button">
						</a>
					</div>
				</div>
			</div>
			<div class="twelve column temporarilyHidden">
				<a href="#" class="AddMore-btn right" {{action addMoreTiles target="controller"}}>+Add More</a>
			</div>
			
		</div>
		
	</div>
</div>