@font-face {
font-family: Bebas Neue;
src: url("../../fonts/bebasneue/BebasNeue-webfont.ttf") format("truetype");
}

@font-face {
font-family: Open Sans;
src: url("../../fonts/opensans/OpenSans-CondLight-webfont.ttf") format("truetype");
}

@font-face {
font-family: Museo;
src: url("../../fonts/museo-500/Museo500-Regular-webfont.ttf") format("truetype");
}


.top-bar  section .right li:hover{
	background: #ffffff;
}
.top-bar  section .right li a:hover{
	color: #000000;
}
h3.instructions {
	font-size: 31px;
	font-weight: normal;
}
.nav-bar{
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #dfe4e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dfe4e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#dfe4e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#dfe4e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#dfe4e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#dfe4e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dfe4e7',GradientType=0 ); /* IE6-9 */
border-radius:5px;
box-shadow: 2px 2px 3px #d1d1d1;
}
.nav-bar li:hover{
	background: #ed633e !important;
	color: #ffffff;
}
.nav-bar>li{
	width: 160px !important;
	text-align: center !important;
	cursor: pointer;
	border: 1px solid rgb(204, 204, 204) !important;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 9%, rgba(223,228,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(9%,rgba(255,255,255,1)), color-stop(100%,rgba(223,228,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* W3C */
}
.nav-bar > li > a:first-child {
	color: #000000;
	padding: 0px 33px;
}
.nav-bar > li > a:hover {
	color: #ffffff;
}
.nav-bar > li:last-child,.nav-bar > li:first-child{
	padding-right:11px;
	border-right: 0px !important;
}
.RoundedRight{
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
padding-right: 2px;	
}
.RoundedLeft{
	-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
padding-right: 2px;	
}
.left a.choose{
	border-radius: 5px;
	padding: 8px;
	background: #000000;
	margin-top:3px;
	color: #000000;
	margin-right: 5px;
	text-align: center;

}
.left a.choose:hover{
	background: #eb5837;
	color: #ffffff;
}
.stories a.left{
 margin-left: -45px;
}
.stories a.right-btn{
}
.stories{
	background: #ffffff;
	box-shadow:2px 2px 10px #d1d1d1; 
}
.stories .content{
	padding-top: 15px;
}
.search{
	border-radius: 5px;
	box-shadow: 2px 2px 4px #b1b1b1;
	margin-right: 5px;
	text-align: center;
	background: #ea4e3c;
}
.search-box{
	clear: both;
}
.search p{
	background: url(img/search.png) no-repeat;
}
.twelve .column .stories{
	background: #ffffff;
	box-shadow:2px 2px 4px #d1d1d1; 
}
.selected #selected { 
	background: #ea4e3c;	
}
.custom .text-box{
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
.first,
.second,
.third,
.fourth{clear: both;}
.btn {
	background: #006aa8;
	padding: 10px;
}
.right-btn  {
	position: relative;
	float: left;
	background: #e3e7ea;
	padding: 15px;
	cursor: pointer;
}
.middle h2{
	margin-top: 15px;
	text-align: center;
}
form.custom div.custom.dropdown a.selector {
	border: 0px;
}
form.custom div.custom.dropdown a.current 
{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;

}
form.custom div.custom.dropdown a.current{
	background: none;
}
.stories .three,
.stories .two,
.stories .four,
.stories .five{
	margin-bottom:20px;
	}

.StoriesBoxEffect{
position: absolute;
top: 0px;
right: 0px;
background: url(img/selector.png);
display: block;
width: 39px;
height: 39px;
}
.AddMore-btn
{
margin-top: 15px;
margin-bottom: 15px;

margin-right: -17px;
border-radius: 5px;
border: 1px solid #d0d1d3;
box-shadow:2px 2px 10px #d1d1d1; 
padding:10px; 
color: #000000;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 32%, #dee2e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(32%,#f6f6f6), color-stop(100%,#dee2e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 32%,#dee2e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 32%,#dee2e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 32%,#dee2e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 32%,#dee2e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dee2e5',GradientType=0 ); /* IE6-9 */
}

.centerd-btn{
	margin-left:46%;
	cursor: pointer;

} 
.scroll{
	margin-bottom: 20px;
}
/*.StoriesBoxhover{
	position: absolute;
top: 0px;
right: 0px;
background: url(img/selector.png) no-repeat;
display: block;
width: 39px;
height: 39px;
}
*/

/*Emberjs integrated Newspaper css*/
.catSelect{
	position: relative;
	float: left;
	left: 25px;
	height: 28px;
	font-size: 14px;
	font-weight: bold;
	color: #141414;
	min-width: 160px;
	width: auto;
	cursor: pointer;
	border: 1px solid rgb(204, 204, 204) !important;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 9%, rgba(223,228,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(9%,rgba(255,255,255,1)), color-stop(100%,rgba(223,228,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%); /* W3C */

}

.storiesContainer{
	position: relative;
	float: left;
	padding: 10px;
	border: 1px solid rgb(204, 204, 204);
	height: 220px;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	margin-bottom: 10px;
}

.story{
	z-index: 35;
	padding: 9px 7px;
	border: 1px solid rgb(187, 187, 187);
	cursor: pointer;
	position: relative;
	float: left;
	margin-bottom: 10px;
	height: 200px;
}

#storyCatsDropDown{
	z-index: 36;
	width: 225px !important;
}

#storyCatsDropDown ul{
	width: 225px !important;
}

.story a{
	display:none
}
.story img{
	width:100%;
	height:auto;
	max-width: none !important;
}

.story h3{
	font-family: 'optima', 'Candara', Helvetica Light, sans-serif;
	font-size:12px;color:#333;
	margin:9px 0}
.story:hover{background:#333}
.story:hover h3{color:#fff}
.story:hover a{display:block}

.leftButtons{
	position: relative;
	float: left;
}

.searchInput{
	position: relative;
	float: left;
	width: 65%;
	left: 10px;
}

.topSection{
	position: relative;
	float: left;
	margin-top: 10px;
}

.searchButton{
	width: 50px !important;
	position: relative;
	float: left;
	margin-left: 15px !important;
}

.typeButton{
	position: relative;
	float: left;
	width: auto;
	border: 1px solid #999;
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
	color: #000;
	box-shadow: 1px 1px 0px 0px rgb(211, 211, 211);
	cursor: pointer;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 9%,rgba(223,228,231,1) 100%)
}

.typeButton:hover{
	background: rgb(236,96,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(236,96,63,1) 0%, rgba(236,96,63,1) 30%, rgba(234,85,52,1) 57%, rgba(232,81,48,1) 61%, rgba(228,67,36,1) 87%, rgba(227,65,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,96,63,1)), color-stop(30%,rgba(236,96,63,1)), color-stop(57%,rgba(234,85,52,1)), color-stop(61%,rgba(232,81,48,1)), color-stop(87%,rgba(228,67,36,1)), color-stop(100%,rgba(227,65,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(236,96,63,1) 0%,rgba(236,96,63,1) 30%,rgba(234,85,52,1) 57%,rgba(232,81,48,1) 61%,rgba(228,67,36,1) 87%,rgba(227,65,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(236,96,63,1) 0%,rgba(236,96,63,1) 30%,rgba(234,85,52,1) 57%,rgba(232,81,48,1) 61%,rgba(228,67,36,1) 87%,rgba(227,65,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(236,96,63,1) 0%,rgba(236,96,63,1) 30%,rgba(234,85,52,1) 57%,rgba(232,81,48,1) 61%,rgba(228,67,36,1) 87%,rgba(227,65,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(236,96,63,1) 0%,rgba(236,96,63,1) 30%,rgba(234,85,52,1) 57%,rgba(232,81,48,1) 61%,rgba(228,67,36,1) 87%,rgba(227,65,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec603f', endColorstr='#e34121',GradientType=0 ); /* IE6-9 */
}

.storiesContainerExpanded{
	overflow-y: scroll !important;
}

ul{list-style: none;}

.storyIconBigContainer{
	display: none;
	overflow: hidden;
	height: 80%;
}

.story_imageContainer{
	position: relative;
	float: left;
	padding: 9px 7px;
	width: 100%;
	height: 80%;
}

.story_headline{
	position: relative;
	float: left;
	padding: 9px 7px;
	width: 100%;
	height: 20%;
}

.storyOnDrop{
	left: -10px;
	position: absolute;
	top: 0px;
	background: #ddd;
	opacity: 1 !important;
}

.handle {
    border-bottom: 1px solid black;
    background-color: yellow
}
.gridster {
    position:relative;
} 

.storyTile {
	position: relative;
	float: left;
	margin-bottom: 25px;
	margin-right: 25px;
}


.gridster {
    position:relative;
}

.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.gridster .gs_w{
    z-index: 2;
    position: absolute;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: rgb(231, 231, 231);
    border-color: rgb(150, 150, 150);
    opacity: 0.2;
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.gridster .dragging {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}*/
/* Uncomment this if you set helper : "clone" in draggable options */
.gridster .player {
  opacity:0.8;
}

.preivewStory{
	position: absolute;
	left: 15%;
	top: 11%;
	z-index: 50;
	width: 960px;
}

.preivewStory .newspaperTitle{
	left: 8% !important;
}

.preview{
	position: relative;
	float: left;
	cursor: pointer;
	background: rgb(0, 128, 224);
	padding: 10px;
	left: -50px;
	top: -35px;
	z-index: 10;
}

.newspaper{
	width: 960px !important;
	padding: 35px !important;
}

.dustbin{
	position: relative !important;
	float: left !important;
	left: -50px;
	top: 35px;
	width: auto !important;
}

.closePreview{
	background-image: url("../images/close-icon.png");
	background-repeat: no-repeat;
	position: relative;
	float: right;
	right: 10px;
	top: 35px;
	z-index: 100;
	color: rgb(139, 139, 139);
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 25px;
}

.closePreview:hover{
	background-image: url("../images/close-icon-hover.png");
	background-repeat: no-repeat;
	position: relative;
	float: right;
	right: 10px;
	top: 35px;
	z-index: 100;
	color: rgb(139, 139, 139);
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 25px;
}

.fadeBackground{
	opacity: 0.33000000000000007;
	-moz-opacity:0.33000000000000007;
	background: rgb(192, 192, 192);
}

.navBarGrid{
	position: relative;
	float: left;
	width: 100%;
}

.navBarActive{
	background: #ed633e; 
	border-color: #e34115;
}

.fonts{
	position: relative;
	float: left;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	width: 121px;
	cursor: pointer;
	background: #333333;
}

.fonts:hover{
	background: #ed633e !important;
}

.removeStory{
	position: absolute;
	float: right;
	width: 35px !important;
	cursor: pointer !important;
	z-index: 5000;
	top: 0px;
	right: 0px;
}

.removeOverlay{
	background: transparent;
    border: 1px solid #DDDDDD;
    float: left;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 6000;
    display: none;
}

.themes{
	display: none;
}

.theme{
	z-index: 10;
	padding: 9px 7px;
	cursor: pointer;
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.theme:hover{
	background:rgb(235, 235, 235);
}

.template{
	z-index: 10;
	padding: 9px 7px;
	cursor: pointer;
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.template:hover{
	background:rgb(235, 235, 235);
}

.fadeTemplate{
	z-index: 10;
	padding: 9px 7px;
	position: relative;
	float: left;
	margin-bottom: 10px;
	opacity: 0.15;
}

.fadeTemplateText{
	position: absolute;
	top: 40%;
	left: 20%;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: rgb(138, 138, 138);
}

.fadeTemplate:hover{
	background:rgb(235, 235, 235);
}

.storyBody{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 15px;
	font-size: 14px;
}

.storyByline{
	position: relative;
	float: left;
	width: auto;
	margin-top: 15px;
	margin-right: 15px;
	font-size: 12px;
}

.itemForPaper{
	display: none;
}

.raj{
	position: relative;
	float: left;
}

.editableText{
	z-index: 1000;
	cursor: pointer;
}

.previewStoryTile{
	position: relative !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}

.storyOnDrop2{
	height: auto !important;
	position: relative !important;
	float: left !important;
	background: white;
	border:none;
}

.tileNumber{
	display: none;
}

.templateIconHolder{
	position: relative;
	float: left;
	top: 15px;
}

.themeIconHolder{
	position: relative;
	float: left;
	top: 10px;
}

.themeIconHolder p{
	font-size: 15px;
	font-weight: bold;
	position: relative;
	float: left;
	margin-top: -17px;
	left: 30%;
}

.allNewspapers{
	background-color:transperent !important;
	border: none;
	padding: 8px;
	height: 38px;
	position: relative;
	float: left;
	width: 160px;
	font-family: 'optima', 'Candara', Helvetica Light, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	opacity: 0;
}

.storyBody p{
	margin-bottom: 0px;
	line-height: 22px;
}

.temporarilyHidden{
	margin-top: 50px;
}

.temporarilyHidden a{
	display: none;
}

.RoundedLeft .open{
	position: relative;
	height: 0px;
}

.catSelectEmber{
	font-family: 'optima', 'Candara', Helvetica Light, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	border: none;
	background: transparent;
	height: 25px;
	padding-left: 20px;
}

.oped{
	line-height: 18px !important;
}

.topInstructions{
	position: relative;
	float: left;
	left: 20%;
}