@font-face {
	font-family: 'optima';
	src: url('../fonts/optima.eot'); /* IE9 Compat Modes */
	src: url('../fonts/optima.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/optima.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/optima.svg#svgFontName') format('svg'); /* Legacy iOS */
	}
.story-container form.custom .four,
.story-container form.custom .eight,
.select-dropdown .seven,
.select-dropdown .five{
	padding: 0;
	margin: 0;
}

.story-container .button-bar ul.button-group{ margin:0px 0px 15px 0px!important;}
.story-container .button-bar ul.button-group li a{padding: 0; line-height: 35px; text-align: center; width:90px;}
.story-container .button-bar ul.button-group li a:hover {
background: rgb(70,191,226);
background: -moz-linear-gradient(top, rgba(70,191,226,1) 0%, rgba(70,191,226,1) 39%, rgba(57,157,187,1) 83%, rgba(56,155,184,1) 87%, rgba(56,155,184,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,191,226,1)), color-stop(39%,rgba(70,191,226,1)), color-stop(83%,rgba(57,157,187,1)), color-stop(87%,rgba(56,155,184,1)), color-stop(100%,rgba(56,155,184,1)));
background: -webkit-linear-gradient(top, rgba(70,191,226,1) 0%,rgba(70,191,226,1) 39%,rgba(57,157,187,1) 83%,rgba(56,155,184,1) 87%,rgba(56,155,184,1) 100%);
background: -o-linear-gradient(top, rgba(70,191,226,1) 0%,rgba(70,191,226,1) 39%,rgba(57,157,187,1) 83%,rgba(56,155,184,1) 87%,rgba(56,155,184,1) 100%);
background: -ms-linear-gradient(top, rgba(70,191,226,1) 0%,rgba(70,191,226,1) 39%,rgba(57,157,187,1) 83%,rgba(56,155,184,1) 87%,rgba(56,155,184,1) 100%);
background: linear-gradient(to bottom, rgba(70,191,226,1) 0%,rgba(70,191,226,1) 39%,rgba(57,157,187,1) 83%,rgba(56,155,184,1) 87%,rgba(56,155,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46bfe2', endColorstr='#389bb8',GradientType=0 );
color: #fff;
}
.story-container form.custom .select-dropdown .categoriesDropdown .dropdown{
	width:auto !important;
}
.story-container form.custom .tabs li{background: none;}
.story-container form.custom .tabs.pill{margin: 0; height: 26px; padding:0;}
.story-container form.custom .select-dropdown{padding:0 10px;}

.tabs.pill dd a,
.tabs.pill li a { border-radius: 5px; text-align: center; padding: 0;}
.story-container .twelve .StoriesBox{ margin:5px; width:168px;}
.instruct { text-align: center; }
.instruct h3{ 	font-size: 31px; font-weight: normal; }

.top-bar  section .right li:hover{
	background: #ffffff;
}
.top-bar  section .right li a:hover{
	color: #000000;
}
.nav-bar{
background: none;
clear: both;
}
.nav-bar li:hover{
	background: #0a71ac;
	color: #ffffff;
}
.nav-bar > li:last-child{border-right: 1px solid #cccccc;}
	
.story-container .button{ box-shadow: 0px 1px 4px #ccc;}
.RoundedRight{
	border-radius: 0px 4px 4px 0px !important;
	-webkit-border-radius: 0px 4px 4px 0px !important;
	-moz-border-radius: 0px 4px 4px 0px !important;
	-ms-border-radius: 0px 4px 4px 0px !important;
	-o-border-radius: 0px 4px 4px 0px !important;
	border-radius: 0px 4px 4px 0px !important;
}
.RoundedLeft{
	-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.preview{
	cursor: pointer;
	background: rgb(0, 128, 224);
	margin-top:20px;
	width:30px !important;
	height:30px !important;
	padding:3px !important;
}

.storyIconBigContainer{
	display:none;
	overflow: hidden;
	max-height: 80%;
}

#openNewspaperBtn{
	padding-left:0px;
	padding-right:0px;
	width:90px;
}

#openNewspaperBtn .dropdown{
	padding-right:0px;
	padding-left:0px;
	width:90px;
	height:35px;
}

#openNewspaperBtn .dropdown::after{
	right:5px;
}

#npButtonGroup{
	padding-left:0px;
	padding-right:0px;
}

form.custom .left .tabs li{background: none;}
form.custom .left .tabs.pill li a:hover {background: #eb5837;	color: #ffffff;}
form.custom .left .tabs.pill li.active a{background: #eb5837;	color: #ffffff;}
#searchField {
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	box-shadow: none;
}

#storyCatsDropDown{
	width:170px !important;
	margin-bottom: 10px !important;
}

#storyContainerWrapper{
	height:2050px;
	overflow-y:auto;
	overflow-x:hidden;
}

.delete{padding: 20px 0; clear: both; max-width: 750px; min-width:750px; }
.middle h2{
	font-family: 'optima', helvetica,arial;
	text-align: center;
}
form.custom .select-dropdown{margin: 0 5px;}

form.custom .categoriesDropdown{margin: 0 0 0 -16px; padding-left:0px;}
form.custom div.custom.dropdown a.selector {
	border: 0px;
}
form.custom div.custom.dropdown a.current 
{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;

}
form.custom div.custom.dropdown a.current{
	background: none;
	margin-left: 0;
}

.left .text-box{ width:100%;}
.right  .search-btn{
	box-shadow: 0px 0px 4px #969696;

}
.StoriesBoxEffect{
position: absolute;
top: 0px;
right: 0px;
background: url(img/selector.png);
display: block;
width: 39px;
height: 39px;
}

input.editable-txt {
	display: none;
}

input.editable-txt-active {
	display: inline;
}

.editable.inactive {
}

.editable.inactive-over {
	border: 1px solid #ccc;
	cursor: pointer;
}

.editable.active {
	display:none;
}

.previewStory{
	position: absolute;
	left: 15%;
	top: 11%;
	z-index: 50;
	width: 960px;
}

.storyBody{
	display:none;
}

.storyBody p{
	margin-bottom:0px;
}

.storyAuthor {
	margin-top: 15px;
}

.previewStory .newspaperTitle{
	left: 8% !important;
}

.closePreview{
	background-image: url("../images/close-icon.png");
	background-repeat: no-repeat;
	position: relative;
	float: right;
	right: 10px;
	top: 35px;
	z-index: 100;
	color: rgb(139, 139, 139);
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 25px;
}

.closePreview:hover{
	background-image: url("../images/close-icon-hover.png");
	background-repeat: no-repeat;
	position: relative;
	float: right;
	right: 10px;
	top: 35px;
	z-index: 100;
	color: rgb(139, 139, 139);
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 25px;
}

.removeStory{
	position: absolute;
	float: right;
	width: 35px !important;
	cursor: pointer !important;
	z-index: 5000;
	top: 0px;
	right: 0px;
}

.removeOverlay{
	background: transparent;
    border: 1px solid #DDDDDD;
    float: left;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 6000;
    display: none;
}

.mr{margin-right: 0px !important; margin-left: 20px !important;}
.ml{margin-left: 0px !important; margin-right: 20px !important;}
/* story container.
---------------------------------------------------------------------------------*/
.story-container{ margin: 0 20px; padding: 0px; max-width: 39.667%;}
.stories{padding: 0 20px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2);}
#npContainer, .row .seven.stories { 
	min-width: 750px;
	max-width: 750px;
	 margin-top: 20px;
	 margin-right: 20px;
	 margin-bottom: 20px;
	  padding: 0px;
	  padding: 0 20px; 
	}

.first-row,
.second-row .six,
.third-row .three .twelve,
.third-row .eight .eight-row-1 .four,
.third-row .eight .eight-row-2 .four,
.third-row .eight .eight-row-1 .eight,
.third-row .nine .eight-row-1 .four,
.third-row .nine .eight-row-0,
.third-row .nine .eight-row-2 .four,
.third-row .nine .eight-row-2 .eight
{
	background: #f1f1f1;
	border: 2px dashed #cccccc;
	border-radius: 2px;
}
/* aligning image to centre.
---------------------------------------------------------------------------------*/
.first-row img,
.second-row .six img,
.third-row .first-column .three .twelve img,
.third-row .nine .eight-row-1 .four img,
.third-row .nine .eight-row-0 img,
.third-row .nine .eight-row-2 .four img,
.third-row .nine .eight-row-2 .eight img,
.sff img,.sfs img,.sft img,.sf-f img,.ssf img
{ 
	display: block;
	margin: auto;
}


/* aligning circles.
---------------------------------------------------------------------------------*/
.first-row{
	padding: 0;
	height: 515px;
	margin-bottom: 15px;
}
.second-row .six{
	margin: 15px 0;
	height: 295px;
	padding: 75px 0;	
}

.bucket {
	height:100%;
}

.third-row .first-column .three .twelve,
.third-row .nine .eight-row-1 .four,
.third-row .nine .eight-row-0,
.third-row .nine .eight-row-2 .four,
.third-row .nine .eight-row-2 .eight{
	margin: 15px 0;
	height: 360px;
	padding: 105px 0;
}
.third-row .nine .eight-row-0{	padding:82px 0;}
/* setting max width.
---------------------------------------------------------------------------------*/
.third-row .first-column .three{ max-width: 177.5px; }
.third-row .first-column .nine{	max-width: 512.5px;}
.second-row .five{ max-width: 375px;}
.second-row .seven{max-width:494px;}
.second-row .six{max-width:345px; }
.third-row .nine .eight-row-1 .four,
.third-row .nine .eight-row-2 .four{ max-width: 157.33px; }
.third-row .nine .eight-row-2 .eight{max-width: 335px; padding:82px 0;}

/* removing padding.
---------------------------------------------------------------------------------*/
.third-row .nine,.second-row .five,
.second-row .seven,.third-row .first-column .three,.story-container .twelve,
.stories .twelve,.stories .twelve .one,.seven.delete { padding: 0px;}

ul.inline-list, ul.link-list{ margin: 0;}
footer{ margin-bottom: 0;}
footer .six{ padding: 0 15px;}
footer .six .link-list li a{ padding-top:10px;}
/* @1280px wide.
---------------------------------------------------------------------------------*/
@media only screen and (max-width:1280px) and (min-width: 1024px){
	.row{max-width: 1280px;
		min-width: 1024px;
	}
	.story-container .button-bar ul.button-group li a { width:79px;}
	.story-container .twelve .StoriesBox {
		width: 146px;
	}
	
	#openNewspaperBtn{
	padding-left:0px;
	padding-right:0px;
	width:79px;
	}

	#openNewspaperBtn .dropdown{
	padding-right:0px;
	padding-left:0px;
	width:79px;
	}
	
	.story-container{ 
		width:-webkit-calc(100% - 810px) !important;
		width:-moz-calc(100% - 810px) !important;
		width:-o-calc(100% - 810px);
		width:calc(100% - 810px);
	}
	.row .seven.delete { padding: 0 15px; 
		width:-webkit-calc(100% - 810px) !important;
		width:-moz-calc(100% - 810px) !important;
		width:-o-calc(100% - 810px);
		width:calc(100% - 810px);
	}
}

/*@ 1024px wide.
---------------------------------------------------------------------------------*/
@media only screen and (max-width:1024px) {
	.top-bar {background: #e94e3c;}
	.row{max-width: 1024px !important;}
	.story-container { 
		width:-webkit-calc(100% - 810px) !important;
		width:-moz-calc(100% - 810px) !important;
		width:-o-calc(100% - 810px);
		width:calc(100% - 810px);
	}
	.story-container .twelve .StoriesBox {width: 100% !important;}
	.story-container .button-bar ul.button-group{width: 100%;}
	.story-container .button-bar ul.button-group li{ float: none; display: block;}
	.story-container .button-bar ul.button-group li a{ border-radius: 5px; width: 100%; margin: 2px 0;}
	.story-container .button-bar ul.button-group li a.RoundedRight{ border-radius: 5px !important;}
	.story-container form.custom .four,
	.story-container form.custom .select-dropdown,
	.story-container form.custom .select-dropdown .seven,
	.story-container form.custom .select-dropdown .five{
		width: 100%;
		height: 25px;
		 display: block; 
		 float: none;
		  clear: both;
		   margin:10px 0;
		    padding: 0 5px;
	 }
	 .story-container form.custom {
	 	height:110px;
	 	max-height: auto;
	 	clear: both;
	 }
	 .top-bar section > ul li a:not(.button){ padding:0 15px !important;}
	 .top-bar ul.left, .top-bar ul.right{ padding: 0 15px;}
	 .story-container form.custom .select-dropdown .seven input,
	 .story-container form.custom div.custom.dropdown a.current{ border-radius: 5px !important; clear: both; height: 30px; margin-bottom: 20px;}
	ul.inline-list, ul.link-list{ margin: 0;}
footer .six{ width: 50% !important;}
footer{ margin-bottom: 0;}
footer .six{ padding: 0 15px;}
footer .six .link-list li a{ padding-top:10px;}
}
