#container{
	margin:0 auto;
	width:100%;
}
.item{
	margin:10px;
}
.mypageStoryInfo .story-title, .mypageStoryInfo p{
	word-wrap:break-word;
	line-height: 1.4;
	margin-bottom: 15px;
}
.storyImage{
	cursor:pointer;
}
a.flagged {
	color:#888;
}
a.flagged:hover{
	background-color:transperent;
}